* {
  margin: 0;
  padding: 0;
}
nav {
  color: white;
  background-color: rgb(167, 31, 31);
  padding: 5px;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  border-bottom: 1px solid black;
}
nav ul {
  margin: 0;
  padding: 16px;
  display: flex;
  align-items: flex-end;
}
nav li {
  list-style: none;
  margin-right: 15px;
}
nav a {
  color: aliceblue;
  padding: 20px;
  text-decoration: none;
}
nav a:hover {
  background-color: rgba(39, 43, 65, 0.6);
  padding: 20px;
}
.page {
  background: linear-gradient(45deg, rgb(0, 0, 0), rgb(60, 61, 66));
  height: 900px;
  text-align: center;
  padding-top: 10px;
  border-bottom: 3px solid black;
}
.page-text {
  margin-top: 350px;
}
#intro1 {
  font-size: 60px;
  color: rgb(247, 247, 247);
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
#intro2 {
  font-size: 35px;
  padding-top: -100px;
  font-weight: 250;
  font-family: "Ysabeau Infant", sans-serif;
  color: rgb(177, 17, 17);
}
.detail {
  background: linear-gradient(70deg, #45567d, #182c5a);
  text-align: center;
  color: white;
  padding: 100px;
}
.uline {
  font-size: 42px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100 bold;
}
.underlined-text {
  margin-left: 550px;
  margin-right: 550px;
  border: 1px solid white;
}
.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: left;
  gap: 50px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}
.projects img {
  width: 100%;
  max-width: 500px;
  height: 500px;
  object-fit: cover;
}
hr {
  margin-bottom: 40px;
}
.ending-page {
  text-align: center;
  padding: 300px;
  background-color: #303841;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 50;
}
footer {
  font-weight: lighter;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: #303841;
  border-top: 4px solid red;
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.vline {
  font-size: 42px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100 bold;
  padding-top: 30px;
}
a {
  cursor: pointer;
}
.project {
  background-color: #303841;
  font-size: 27px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  transition: color 0.6s ease-out;
  color: aliceblue;
  border: 1px solid #303841;
  transition: 0.5s;
}
.project:hover {
  color: coral;
  transform: scale(1.05);
}
